#main {
    background-color: #FDFDF0;
    width: 80%;
    text-align: center;
    border-radius: 10px;
}

p {
    font-size: 15px;
}

#title h4 {
    color: #FDFDF0;
}

#beginButton {
    color: #043785;
    border: 2px solid;
    border-color: #043785;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.0, 0.2, 0.6, 1.0);
    font-size: 15px;
}

#beginButton:hover, #beginButton:focus {
    color: #FDFDF0;
    border: 2px solid;
    border-color: #043785;
    background-color: #043785;
    border-radius: 10px;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.0, 0.2, 0.6, 1.0);
    font-size: 15px;
}

.bottomBar {
    position: fixed;
    left: 0; right: 0; bottom: 0;
    height: 30px;
    width: 100%;
    background-color: #043785;
    color: #FDFDF0;
    text-align: center;
    padding-top: 5px;
}

#title {
    background-color: #043785;
    color: white;
    width: 100%;
    height: 80px;
    text-align: center;
    padding-top: 25px;
}

#title img {
    width: 50px;
    padding-top: 0px;
    margin-top: -10px;
    object-fit: cover;
}

.help-tip {
    position: absolute;
    top: 0%;
    right: 50%;
    transform: translate(97px, 18px);
    text-align: center;
    background-color: #043785;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 21px;
    cursor: default;
}

.help-tip:before {
    content:'?';
    font-weight: bold;
    color: white;
}

.help-tip:hover p {
    display:block;
    transform-origin: 100% 0%;

    -webkit-animation: fadeIn 0.3s ease-in-out;
    animation: fadeIn 0.3s ease-in-out;
}

.help-tip p {
    display: none;
    text-align: left;
    background-color: white;
    border-color: #457DD1;
    border-style: solid;
    border-width: 3px;
    padding: 20px;
    width: 320px;
    position: absolute;
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    top: 80px;
    right: -63px;
    color: black;
    font-size: 12px;
    line-height: 1.4;
}

.help-tip p:after {
    width: 100%;
    height: 40px;
    content:'';
    position: absolute;
    top: -40px;
    left: 0px;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
        transform: scale(0.6);
    }

    100% {
        opacity:100%;
        transform: scale(1);
    }
}

@keyframes fadeIn {
    0% { opacity:0; }
    100% { opacity:100%; }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity:100%;
        transform: scale(1);
    }

    100% {
        opacity:0;
        transform: scale(0.6);
    }
}

@keyframes fadeOut {
    0% { opacity:100%; }
    100% { opacity:0; }
}