#qna {
    display: none;
}

.qBox {
    background-color:  #457DD1;
    color: #FDFDF0;
    text-align: center;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 80%;
}

.qBoxNum {
    background-color:  #043785;
    color: #FDFDF0;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    width: 10%;
    margin-left: 10%;
}

.answerList {
    background-color: #457DD1;
    color: #FDFDF0;
    border-radius: 10px;
    display: block;
    width: 100%;
    border: 0px;
    font-size: 15px;
    width: 80%;
    padding-left: 15px; padding-right: 15px;
}

.answerList:hover, .answerList:focus {
    /* background-color: rgb(04, 37, 85); */
    opacity: 0.5;
    /* color: white; */
}

.status {
    position: fixed;
    top: 80px; left: 0; right: 0;
    height: 20px;
    width: 100%;
    background-color: #FDFDF0;
    /* border-radius: 20px; */
}

.statusBar {
    height: 100%;
    border-radius: 0 20px 20px 0;
    background-color: #457DD1;
    transition: all 0.3s cubic-bezier(0.0, 0.2, 0.6, 1.0);
}